//
//  PacketTunnel.xcconfig
//  Surf
//
//  Created by yarshure on 16/1/4.
//  Copyright © 2016年 yarshure. All rights reserved.
//


FRAMEWORK_SEARCH_PATHS = $(inherited) //"$(PROJECT_DIR)/Surf-Mac"
HEADER_SEARCH_PATHS = $(inherited)
USER_HEADER_SEARCH_PATHS = $(inherited) 
OTHER_CFLAGS = $(inherited) -isystem
OTHER_LDFLAGS = $(inherited) //-lsodium -lcrypto//-mbedcrypto // -lcrypto //
LIBRARY_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)"
//SSL_LIB_DEFINE =  USE_CRYPTO_OPENSSL=1  TCP_MSS＝1460
//SSL_LIB_DEFINE =    TCP_MSS＝1460
