github "yarshure/cone" "master"
github "Alamofire/Alamofire"
github "bizz84/SwiftyStoreKit"
github "danielgindi/Charts" "v3.0.5"
github "tidwall/IoniconsSwift"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json" 
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json" 
