//
//  PacketTunnel-iOS.xcconfig
//  Surf
//
//  Created by yarshure on 16/1/12.
//  Copyright © 2016年 yarshure. All rights reserved.
//

HEADER_SEARCH_PATHS = $(inherited)
USER_HEADER_SEARCH_PATHS = $(inherited)
OTHER_CFLAGS = $(inherited) -isystem
OTHER_LDFLAGS = $(inherited) -framework Crashlytics -framework Fabric

SSL_LIB_DEFINE =    TCP_MSS＝1460//USE_CRYPTO_MBEDTLS=1


FRAMEWORK_SEARCH_PATHS = $(inherited)  "$(PROJECT_DIR)/Carthage/Build/iOS/"
LIBRARY_SEARCH_PATHS = $(inherited)  "$(PROJECT_DIR)/Carthage/Build/iOS/"

