//
//  Surf-iOS.xcconfig
//  Surf
//
//  Created by yarshure on 16/1/28.
//  Copyright © 2016年 yarshure. All rights reserved.
//
HEADER_SEARCH_PATHS = $(inherited) 

OTHER_LDFLAGS = $(inherited)  -framework Crashlytics -framework Fabric //-framework Xcon -framework XRuler

FRAMEWORK_SEARCH_PATHS = $(inherited)   "$(PROJECT_DIR)/Carthage/Build/iOS/"
LIBRARY_SEARCH_PATHS = $(inherited)  "$(PROJECT_DIR)/Carthage/Build/iOS/"



HEADER_SEARCH_PATHS = $(inherited)
USER_HEADER_SEARCH_PATHS = $(inherited)
OTHER_CFLAGS = $(inherited) -isystem





